@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

.header {
  font-weight: 500;
  position: relative;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 10% 70% 20%;
}
@media (max-width: 1024px) {
  .header {
    display: none;
  }
}
.header .logo-wrapper {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo-wrapper .nav-logo {
  width: 64px;
}
.header .nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav .navbar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.header .nav .navbar .nav-item {
  white-space: nowrap;
}
.header .nav .navbar .nav-item .nav-link {
  transition: all 200ms linear;
}
.header .nav .navbar .nav-item .nav-link:hover {
  color: #00a79a;
}
.header .nav .navbar .nav-sub-menu {
  display: none;
  position: absolute;
  color: #262626;
  background-color: #f1eeeb;
  z-index: 5;
}
.header .nav .navbar .nav-sub-menu-item {
  padding: 1rem 1.5rem;
}
.header .nav .navbar .nav-sub-menu-link {
  transition: all 200ms linear;
}
.header .nav .navbar .nav-sub-menu-link:hover {
  color: #00a79a;
}
.header .sidenav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .sidenav .sidenav-item {
  padding-right: 0.5rem;
  white-space: nowrap;
  transition: all 200ms linear;
}
.header .sidenav .sidenav-icon {
  transition: all 200ms linear;
}
.header .sidenav .sidenav-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.header .sidenav .sidenav-sub-menu {
  display: none;
  position: absolute;
  color: #262626;
  background-color: #f1eeeb;
}
.header .sidenav .sidenav-sub-menu-item {
  padding: 1rem 1.5rem;
}
.header .sidenav .sidenav-sub-menu-link {
  transition: all 200ms linear;
}
.header .sidenav .sidenav-sub-menu-link:hover {
  color: #00a79a;
}

.dropdown-arrow {
  width: 10px;
}

.submenu-trigger {
  position: relative;
}
.submenu-trigger:hover {
  cursor: pointer;
  color: #00a79a;
}
.submenu-trigger:hover #nav-sub-menu {
  display: block;
  z-index: 5;
}

.submenu-link {
  padding-right: 0.5rem;
}

.sidenav-submenu-trigger {
  white-space: nowrap;
  padding-right: 1rem;
}
.sidenav-submenu-trigger:hover {
  cursor: pointer;
}
.sidenav-submenu-trigger:hover .sidenav-item {
  color: #00a79a;
}
.sidenav-submenu-trigger:hover #sidenav-sub-menu {
  display: block;
  z-index: 5;
}

.header-non-desktop {
  width: 100%;
  height: 100px;
  padding: 0rem 1rem 0rem 1rem;
  background-color: #f1eeeb;
}
@media (min-width: 1024px) {
  .header-non-desktop {
    display: none;
  }
}
@media (max-width: 280px) {
  .header-non-desktop {
    padding: 0rem 2rem 0rem 2rem;
  }
}
.header-non-desktop-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-non-desktop-hamburger-menu {
  transition: all 200ms ease-in-out;
}
.header-non-desktop-hamburger-menu:hover {
  cursor: pointer;
  color: #00a79a;
}
.header-non-desktop-heading {
  color: #262626;
  font-size: 1.3rem;
}
@media (max-width: 767px) {
  .header-non-desktop-heading {
    font-size: 1rem;
  }
}
@media (max-width: 280px) {
  .header-non-desktop-heading {
    display: none;
  }
}
.header-non-desktop-sidenav-icon {
  transition: all 200ms ease-in-out;
}
.header-non-desktop-sidenav-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@keyframes show-hamburger-menu {
  from {
    transform: translateX(-500%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes hide-hamburger-menu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500%);
  }
}
@keyframes centered-from-right {
  from {
    transform: translateX(500%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes centered-from-left {
  from {
    transform: translateX(-500%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes swiped-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500%);
  }
}
@keyframes swiped-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500%);
  }
}
#hamburger-menu-nav {
  width: 100%;
  position: absolute;
  background-color: #f1eeeb;
  z-index: 10;
}
#hamburger-menu-nav .hamburger-menu-nav-item {
  padding: 1rem;
}
#hamburger-menu-nav .hamburger-menu-nav-link {
  transition: all 200ms ease-in-out;
}
#hamburger-menu-nav .hamburger-menu-nav-link:hover {
  color: #00a79a;
}

.hamburger-menu-default {
  transform: translateX(-200%);
}

.hamburger-menu-shown {
  animation-name: show-hamburger-menu;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.hamburger-menu-hidden {
  animation-name: hide-hamburger-menu;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.hero, .hero-2, .hero-1 {
  width: 100%;
  height: 80vh;
  background-color: #f7f7f7;
}
@media (max-width: 1024px) {
  .hero, .hero-2, .hero-1 {
    height: auto;
  }
}
.hero .hero-wrapper, .hero-2 .hero-wrapper, .hero-2 .hero-2-wrapper, .hero-1 .hero-wrapper, .hero-1 .hero-1-wrapper {
  width: 100%;
  height: 80%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media (max-width: 1024px) {
  .hero .hero-wrapper, .hero-2 .hero-wrapper, .hero-2 .hero-2-wrapper, .hero-1 .hero-wrapper, .hero-1 .hero-1-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.hero .hero-text-content, .hero-2 .hero-text-content, .hero-2 .hero-2-wrapper .hero-2-right-content, .hero-1 .hero-text-content, .hero-1 .hero-1-wrapper .hero-1-left-content {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .hero .hero-text-content, .hero-2 .hero-text-content, .hero-2 .hero-2-wrapper .hero-2-right-content, .hero-1 .hero-text-content, .hero-1 .hero-1-wrapper .hero-1-left-content {
    order: 2;
  }
}
.hero .hero-video-content, .hero-2 .hero-video-content, .hero-2 .hero-2-wrapper .hero-2-left-content, .hero-1 .hero-video-content, .hero-1 .hero-1-wrapper .hero-1-right-content {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .hero .hero-video-content, .hero-2 .hero-video-content, .hero-2 .hero-2-wrapper .hero-2-left-content, .hero-1 .hero-video-content, .hero-1 .hero-1-wrapper .hero-1-right-content {
    order: 1;
  }
}
.hero .hero-video, .hero-2 .hero-video, .hero-2 .hero-2-video, .hero-1 .hero-video, .hero-1 .hero-1-video {
  width: 100%;
}
.hero .hero-heading, .hero-2 .hero-heading, .hero-2 .hero-2-heading, .hero-1 .hero-heading, .hero-1 .hero-1-heading {
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .hero .hero-heading, .hero-2 .hero-heading, .hero-2 .hero-2-heading, .hero-1 .hero-heading, .hero-1 .hero-1-heading {
    text-align: center;
    padding-bottom: 1rem;
  }
}
@media (max-width: 280px) {
  .hero .hero-heading, .hero-2 .hero-heading, .hero-2 .hero-2-heading, .hero-1 .hero-heading, .hero-1 .hero-1-heading {
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
  }
}
.hero .hero-paragraph, .hero-2 .hero-paragraph, .hero-2 .hero-2-paragraph, .hero-1 .hero-paragraph, .hero-1 .hero-1-paragraph {
  line-height: 2;
  font-size: 1.05rem;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .hero .hero-paragraph, .hero-2 .hero-paragraph, .hero-2 .hero-2-paragraph, .hero-1 .hero-paragraph, .hero-1 .hero-1-paragraph {
    text-align: center;
    padding-bottom: 1rem;
  }
}
@media (max-width: 280px) {
  .hero .hero-paragraph, .hero-2 .hero-paragraph, .hero-2 .hero-2-paragraph, .hero-1 .hero-paragraph, .hero-1 .hero-1-paragraph {
    text-align: center;
    padding-bottom: 0.5rem;
    line-height: 1.5;
  }
}
.hero .hero-button, .hero-2 .hero-button, .hero-2 .hero-2-button, .hero-1 .hero-button, .hero-1 .hero-1-button {
  display: inline-block;
  width: fit-content;
  background-color: #00a79a;
  padding: 1rem;
  font-weight: 500;
  color: white;
}
.hero .hero-button:hover, .hero-2 .hero-button:hover, .hero-2 .hero-2-button:hover, .hero-1 .hero-button:hover, .hero-1 .hero-1-button:hover {
  background-color: #00b6a8;
}
@media (max-width: 1024px) {
  .hero .hero-button, .hero-2 .hero-button, .hero-2 .hero-2-button, .hero-1 .hero-button, .hero-1 .hero-1-button {
    margin: auto;
  }
}
@media (max-width: 280px) {
  .hero .hero-button, .hero-2 .hero-button, .hero-2 .hero-2-button, .hero-1 .hero-button, .hero-1 .hero-1-button {
    padding: 0.5rem;
    margin: auto;
  }
}

.hero, .hero-2, .hero-1 {
  width: 100%;
  height: 80vh;
  background-color: #f7f7f7;
}
@media (max-width: 1024px) {
  .hero, .hero-2, .hero-1 {
    height: auto;
  }
}
.hero .hero-wrapper, .hero-2 .hero-wrapper, .hero-2 .hero-2-wrapper, .hero-1 .hero-wrapper, .hero-1 .hero-1-wrapper {
  width: 100%;
  height: 80%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media (max-width: 1024px) {
  .hero .hero-wrapper, .hero-2 .hero-wrapper, .hero-2 .hero-2-wrapper, .hero-1 .hero-wrapper, .hero-1 .hero-1-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.hero .hero-text-content, .hero-2 .hero-text-content, .hero-2 .hero-2-wrapper .hero-2-right-content, .hero-1 .hero-text-content, .hero-1 .hero-1-wrapper .hero-1-left-content {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .hero .hero-text-content, .hero-2 .hero-text-content, .hero-2 .hero-2-wrapper .hero-2-right-content, .hero-1 .hero-text-content, .hero-1 .hero-1-wrapper .hero-1-left-content {
    order: 2;
  }
}
.hero .hero-video-content, .hero-2 .hero-video-content, .hero-2 .hero-2-wrapper .hero-2-left-content, .hero-1 .hero-video-content, .hero-1 .hero-1-wrapper .hero-1-right-content {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .hero .hero-video-content, .hero-2 .hero-video-content, .hero-2 .hero-2-wrapper .hero-2-left-content, .hero-1 .hero-video-content, .hero-1 .hero-1-wrapper .hero-1-right-content {
    order: 1;
  }
}
.hero .hero-video, .hero-2 .hero-video, .hero-2 .hero-2-video, .hero-1 .hero-video, .hero-1 .hero-1-video {
  width: 100%;
}
.hero .hero-heading, .hero-2 .hero-heading, .hero-2 .hero-2-heading, .hero-1 .hero-heading, .hero-1 .hero-1-heading {
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .hero .hero-heading, .hero-2 .hero-heading, .hero-2 .hero-2-heading, .hero-1 .hero-heading, .hero-1 .hero-1-heading {
    text-align: center;
    padding-bottom: 1rem;
  }
}
@media (max-width: 280px) {
  .hero .hero-heading, .hero-2 .hero-heading, .hero-2 .hero-2-heading, .hero-1 .hero-heading, .hero-1 .hero-1-heading {
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
  }
}
.hero .hero-paragraph, .hero-2 .hero-paragraph, .hero-2 .hero-2-paragraph, .hero-1 .hero-paragraph, .hero-1 .hero-1-paragraph {
  line-height: 2;
  font-size: 1.05rem;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .hero .hero-paragraph, .hero-2 .hero-paragraph, .hero-2 .hero-2-paragraph, .hero-1 .hero-paragraph, .hero-1 .hero-1-paragraph {
    text-align: center;
    padding-bottom: 1rem;
  }
}
@media (max-width: 280px) {
  .hero .hero-paragraph, .hero-2 .hero-paragraph, .hero-2 .hero-2-paragraph, .hero-1 .hero-paragraph, .hero-1 .hero-1-paragraph {
    text-align: center;
    padding-bottom: 0.5rem;
    line-height: 1.5;
  }
}
.hero .hero-button, .hero-2 .hero-button, .hero-2 .hero-2-button, .hero-1 .hero-button, .hero-1 .hero-1-button {
  display: inline-block;
  width: fit-content;
  background-color: #00a79a;
  padding: 1rem;
  font-weight: 500;
  color: white;
}
.hero .hero-button:hover, .hero-2 .hero-button:hover, .hero-2 .hero-2-button:hover, .hero-1 .hero-button:hover, .hero-1 .hero-1-button:hover {
  background-color: #00b6a8;
}
@media (max-width: 1024px) {
  .hero .hero-button, .hero-2 .hero-button, .hero-2 .hero-2-button, .hero-1 .hero-button, .hero-1 .hero-1-button {
    margin: auto;
  }
}
@media (max-width: 280px) {
  .hero .hero-button, .hero-2 .hero-button, .hero-2 .hero-2-button, .hero-1 .hero-button, .hero-1 .hero-1-button {
    padding: 0.5rem;
    margin: auto;
  }
}

.hero-2 {
  background-color: white;
}
.reference, .hero-references .hero-references-wrapper .hero-references-reference-right, .hero-references .hero-references-wrapper .hero-references-reference-middle, .hero-references .hero-references-wrapper .hero-references-reference-left {
  margin: auto;
  width: 70%;
}
.reference .reference-paragraph, .reference .hero-references .hero-references-wrapper .hero-references-reference-right-paragraph, .hero-references .hero-references-wrapper .reference .hero-references-reference-right-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-right .reference-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-right-paragraph, .reference .hero-references .hero-references-wrapper .hero-references-reference-middle-paragraph, .hero-references .hero-references-wrapper .reference .hero-references-reference-middle-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-middle-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-middle .reference-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-right-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-middle-paragraph, .reference .hero-references .hero-references-wrapper .hero-references-reference-left-paragraph, .hero-references .hero-references-wrapper .reference .hero-references-reference-left-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-left-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-left-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-left .reference-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-right-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-middle-paragraph, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-left-paragraph {
  font-style: italic;
  line-height: 2;
  text-align: center;
  margin-bottom: 1.5rem;
}
.reference .reference-image, .reference .hero-references .hero-references-wrapper .hero-references-reference-right-image, .hero-references .hero-references-wrapper .reference .hero-references-reference-right-image, .hero-references .hero-references-wrapper .hero-references-reference-right .reference-image, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-right-image, .reference .hero-references .hero-references-wrapper .hero-references-reference-middle-image, .hero-references .hero-references-wrapper .reference .hero-references-reference-middle-image, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-middle-image, .hero-references .hero-references-wrapper .hero-references-reference-middle .reference-image, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-right-image, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-middle-image, .reference .hero-references .hero-references-wrapper .hero-references-reference-left-image, .hero-references .hero-references-wrapper .reference .hero-references-reference-left-image, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-left-image, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-left-image, .hero-references .hero-references-wrapper .hero-references-reference-left .reference-image, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-right-image, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-middle-image, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-left-image {
  width: 64px;
  border-radius: 64px;
}
.reference .reference-card, .reference .hero-references .hero-references-wrapper .hero-references-reference-right-card, .hero-references .hero-references-wrapper .reference .hero-references-reference-right-card, .hero-references .hero-references-wrapper .hero-references-reference-right .reference-card, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-right-card, .reference .hero-references .hero-references-wrapper .hero-references-reference-middle-card, .hero-references .hero-references-wrapper .reference .hero-references-reference-middle-card, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-middle-card, .hero-references .hero-references-wrapper .hero-references-reference-middle .reference-card, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-right-card, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-middle-card, .reference .hero-references .hero-references-wrapper .hero-references-reference-left-card, .hero-references .hero-references-wrapper .reference .hero-references-reference-left-card, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-left-card, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-left-card, .hero-references .hero-references-wrapper .hero-references-reference-left .reference-card, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-right-card, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-middle-card, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-left-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.reference .reference-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .reference .reference-card .right-card-text-content, .reference .hero-references .hero-references-wrapper .hero-references-reference-right-card .reference-card-text-content, .reference .hero-references .hero-references-wrapper .hero-references-reference-right-card .right-card-text-content, .hero-references .hero-references-wrapper .reference .hero-references-reference-right-card .reference-card-text-content, .hero-references .hero-references-wrapper .reference .hero-references-reference-right-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right .reference-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .hero-references-reference-right .reference-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-right-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-right-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .reference .reference-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .reference .hero-references-reference-right-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .hero-references-reference-right .reference-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .hero-references-reference-right .hero-references-reference-right-card .middle-card-text-content, .reference .hero-references .hero-references-wrapper .hero-references-reference-middle-card .reference-card-text-content, .reference .hero-references .hero-references-wrapper .hero-references-reference-middle-card .middle-card-text-content, .hero-references .hero-references-wrapper .reference .hero-references-reference-middle-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .reference .hero-references-reference-middle-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-middle-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .hero-references-reference-right .hero-references-reference-middle-card .right-card-text-content, .hero-references .hero-references-wrapper .reference .hero-references-reference-middle-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-middle-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle .reference-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .hero-references-reference-middle .reference-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-right-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-right-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .hero-references-reference-middle .reference-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .hero-references-reference-middle .hero-references-reference-right-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-middle-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .hero-references-reference-middle .hero-references-reference-middle-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-middle-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .reference .reference-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .reference .hero-references-reference-right-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .hero-references-reference-right .reference-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .hero-references-reference-right .hero-references-reference-right-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .reference .hero-references-reference-middle-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .hero-references-reference-right .hero-references-reference-middle-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .hero-references-reference-middle .reference-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .hero-references-reference-middle .hero-references-reference-right-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .hero-references-reference-middle .hero-references-reference-middle-card .left-card-text-content, .reference .hero-references .hero-references-wrapper .hero-references-reference-left-card .reference-card-text-content, .reference .hero-references .hero-references-wrapper .hero-references-reference-left-card .left-card-text-content, .hero-references .hero-references-wrapper .reference .hero-references-reference-left-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .reference .hero-references-reference-left-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-left-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .hero-references-reference-right .hero-references-reference-left-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .reference .hero-references-reference-left-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .hero-references-reference-right .hero-references-reference-left-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-left-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .hero-references-reference-middle .hero-references-reference-left-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .hero-references-reference-middle .hero-references-reference-left-card .middle-card-text-content, .hero-references .hero-references-wrapper .reference .hero-references-reference-left-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right .hero-references-reference-left-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle .hero-references-reference-left-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left .reference-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .hero-references-reference-left .reference-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-right-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-right-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .hero-references-reference-left .reference-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .hero-references-reference-left .hero-references-reference-right-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-middle-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .hero-references-reference-left .hero-references-reference-middle-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-middle-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .hero-references-reference-left .reference-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .hero-references-reference-left .hero-references-reference-right-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left-card .hero-references-reference-left .hero-references-reference-middle-card .left-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-left-card .reference-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-right-card .hero-references-reference-left .hero-references-reference-left-card .right-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-middle-card .hero-references-reference-left .hero-references-reference-left-card .middle-card-text-content, .hero-references .hero-references-wrapper .hero-references-reference-left .hero-references-reference-left-card .left-card-text-content {
  padding: 0.5rem;
}

.references-navigation-placeholder, .references-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.references-navigation-placeholder .dot-placeholder, .references-navigation .dot-placeholder, .references-navigation .dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0.5rem 0.5rem;
}
.references-navigation-placeholder .dot-placeholder:hover, .references-navigation .dot-placeholder:hover, .references-navigation .dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes show-hamburger-menu {
  from {
    transform: translateX(-500%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes hide-hamburger-menu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500%);
  }
}
@keyframes centered-from-right {
  from {
    transform: translateX(500%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes centered-from-left {
  from {
    transform: translateX(-500%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes swiped-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500%);
  }
}
@keyframes swiped-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500%);
  }
}
.hero-references {
  position: relative;
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
}
.hero-references .hero-references-wrapper {
  position: relative;
  width: 100%;
  padding: 3rem 1rem 1rem 1rem;
}
.hero-references .hero-references-wrapper .hero-references-reference-left {
  display: none;
}
.hero-references .hero-references-wrapper .hero-references-reference-right {
  display: none;
}
.references-navigation {
  padding-bottom: 1rem;
}
.references-links {
  position: relative;
  bottom: 20px;
  width: 100%;
  padding: 2rem 1.5rem;
}
.references-links .references-links-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.references-links .references-links-wrapper .reference-link {
  padding: 0.5rem;
}
.references-links .references-links-wrapper .reference-link .reference-link-image {
  max-width: 150px;
}

@media (max-width: 767px) {
  .reference-link-2,
.reference-link-4 {
    display: none;
  }
}

.swiped-right {
  animation-name: swiped-right;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.swiped-left {
  animation-name: swiped-left;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.centered-from-right {
  animation-name: centered-from-right;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.centered-from-left {
  animation-name: centered-from-left;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.active-dot {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.index-main {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
