@import "colors";

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  .logo-wrapper {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-logo {
      width: 64px;
    }
  }
  .nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      .nav-item {
        white-space: nowrap;
        .nav-link {
          transition: all 200ms linear;
          &:hover {
            color: map-get($colors, primary);
          }
        }
      }
      .nav-sub-menu {
        display: none;
        position: absolute;
        color: map-get($colors, text);
        background-color: rgb(241, 238, 235);
        &-item {
          padding: 1rem 1.5rem;
        }
        &-link {
          transition: all 200ms linear;
          &:hover {
            color: map-get($colors, primary);
          }
        }
      }
    }
  }
  .sidenav {
    display: flex;
    justify-content: center;
    align-items: center;
    .sidenav-item {
      padding-right: 0.5rem;
      white-space: nowrap;
      transition: all 200ms linear;
    }
    .sidenav-icon {
      transition: all 200ms linear;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    .sidenav-sub-menu {
      display: none;
      position: absolute;
      color: map-get($colors, text);
      background-color: rgb(241, 238, 235);
      &-item {
        padding: 1rem 1.5rem;
      }
      &-link {
        transition: all 200ms linear;
        &:hover {
          color: map-get($colors, primary);
        }
      }
    }
  }
}

.dropdown-arrow {
  width: 10px;
}
.submenu-trigger {
  position: relative;
  &:hover {
    cursor: pointer;
    color: map-get($colors, primary);
    #nav-sub-menu {
      display: block;
    }
  }
}
.submenu-link {
  padding-right: 0.5rem;
}
.sidenav-submenu-trigger {
  white-space: nowrap;
  padding-right: 1rem;
  &:hover {
    cursor: pointer;
    .sidenav-item {
      color: map-get($colors, primary);
    }
    #sidenav-sub-menu {
      display: block;
    }
  }
}
