@keyframes show-hamburger-menu {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hide-hamburger-menu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
