// Hamburger-menu animations

@keyframes show-hamburger-menu {
  from {
    transform: translateX(-500%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hide-hamburger-menu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500%);
  }
}

// Reference-carousel animations

@keyframes centered-from-right {
  from {
    transform: translateX(500%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes centered-from-left {
  from {
    transform: translateX(-500%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swiped-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-500%);
  }
}

@keyframes swiped-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500%);
  }
}
